<h1>Create a Team and Heroes!</h1>
<form action= '/teams' method= 'POST'>
  
  <p>
    <label>Team Name:</label>
    <input type= "text" name= 'team[name]'>
    <br>
    <label>Team Motto:</label>
    <input type= "text" motto='team[motto]'>
  </p>
  
  <p>
    <h2>Hero 1:</h2>
    <label>Hero's Name:</label>
    <input type= 'text' name= 'team[members][][name]'>
  </p>
   </form>
